.dark-bg {
    background-image: url('../img/background.png');
    background-size: auto;
}

.white-container {
    background-color: white;
    border-radius: 4px;
}

#imgVistaPrevia > img {
    margin: 5px;
    height: 100px;
    width: 100px;
}

#imgVistaPrevia > img:hover {
    cursor: pointer;
    border: 3px solid #0D47A1;
}

.selected-img {
    height: 500px;
    width: 500px;
}
img.logotest {
    width: 500px;
    height: 500px;
    display: block;
}

.mensajes {
    position:fixed;
    bottom: 0;
    padding: 3px;
    width: 100%;
    color: white;
    font-family: 'Lucida Console';
    background-color: black;
}

thead {
    text-transform: capitalize;
}
